@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #023047;
  --secondary-color: #8ECAE6;
  --accent-color: #BC00FB;
  --alternative-primary-color: #F5F5F5;
  --alternative-secondary-color: #333333;
  --alternative-accent-color: #1A73E8;
}

html.dark {
  --primary-color: #8ECAE6;
  --secondary-color: #073B4C;
  --accent-color: #FFB703;
  --alternative-primary-color: #1E1E1E;
  --alternative-secondary-color: #9CDCFE;
  --alternative-accent-color: #CE9178;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Ubuntu variant0", tofu;
}